h2,h3,h4,p {
    padding: 0;
    margin: 0
}
li {
    margin: 10px 0;
}
h1 {
    text-align: center;
    font-weight: bold;
}
h3 {
    text-align: center;
}
body {
    /* background: #6d78d6; */
    background: rgb(142,107,147);
background: linear-gradient(90deg, rgba(142,107,147,1) 0%, rgba(54,144,122,0.7203256302521008) 35%, #12dea5 100%);
}
.main {
    /* background: #34d973; */
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}
.add-todo {
    padding: 55px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 1px 0px 18px -1px rgba(0,0,0,0.65);
    background: darkgray;
}
.show-todo {
    width: 70%;
    border-radius: 10px;
    /* border: 2px solid #6d78d6; */
    background: darkgray;
    box-shadow: 1px 0px 18px -1px rgba(0,0,0,0.65);
    padding: 20px;
    font-size: 16px;
}
input {
    /* border-radius: 10px; */
    /* border: 2px solid #6d78d6; */
    border: none;
    font-size: 18px;
    text-indent: 5px;
}
button {
    padding: 2px 15px;
    font-size: 18px;
    background: #12dea5;
    border: none;
    border-radius: 10px;
}
button:hover {
    transform: scale(1.06);
}
.edit-block-hidden {
    display: none;
    padding: 10px 0 0 0;
}
.edit-subtask-hidden {
    display: none;
}
.subtask-block-hidden {
    display: none;
    padding: 10px 0 0 0;
}
.row-wrapper {
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    background: silver;
    border-radius: 10px;
}